* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #07081A;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 28px;
    border-bottom: 1px solid #261C51;
}

.container {
    max-width: 1040px;
    width: 100%;

}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.paragraf {
    display: flex;
    gap: 16px;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
}

span {
    color: #8CE900;
    font-family: Inter;
    font-size: 16px;
}


.main-box {
    display: flex;
    justify-content: center;
}

.main-container {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.project-compedent {
    width: 100%;
    height: 200px;
    background: #242642;
    display: flex;
    align-items: center;

}

.Trade {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

h2 {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    color: #FFF;
    font-family: Inter;
    font-size: 48px;
    min-width: 100px;
}

.project {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1040px;
    width: 100%;

}

.compedent {
    color: #8CE900;
    font-family: Inter;
    font-size: 56px;
}

.paragraf-wraperr {
    color: #C0C0C0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
}

.footer-content {
    width: 100%;
    height: 200px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 64px;
}

.desing {
    max-width: 264px;
    width: 100%;
    color: #C0C0C0;
    font-family: Inter;
    font-size: 14px;
}

.Navigation {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
}
.Contact1 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    gap: 16px;
    display: inline-flex;
    flex-direction: column;
}